---
layout: default
---

<article id="post" class="post type-post status-publish format-standard hentry">
  <header class="entry-header">
  <h1 class="entry-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="entry-meta">
    <span class="sep">Posted on </span>
      <a href="{{ page.url }}" title="{{ page.title }}" rel="bookmark">
        <time class="entry-date" datetime="{{ page.date|date_to_string }}">{{ page.date|date_to_string }}</time>
      </a>
        <span class="sep"> by </span> <span class="author vcard">
          <a class="url fn n" href="/p/about.html" title="{{ site.author }}" rel="author">Ronnie Beltran</a>
        </span>
  </div><!-- .entry-meta -->
  </header><!-- .entry-header -->
  <div class="entry-content">
    {{ content }}
  </div><!-- .entry-content -->
  <footer class="entry-meta">
  </footer><!-- .entry-meta -->
</article><!-- #post -->

{% if site.disqus_shortname %}
  {% include disqus.html %}
{% endif %}

